SERVER_HOST=0.0.0.0
SERVER_PORT=8080

MODE=development #set production on production
LOGS_LEVEL=debug
LOGS_ENCODING=json

HTTP_NUM_WORKERS=12
JOBS_NUM_POLLERS=12
JOBS_NUM_WORKERS=6

CRYPT_KEY=0JjQlNCYINCd0JDQpdCj0Jkg0JvQntCl
PASSWORD_SALT=7ac0569a-c3df-4cc0-9c95-f2ce87564406

DATABASE_NAME=remoodle
DATABASE_USERNAME=admin
DATABASE_PASSWORD=password
DATABASE_DRIVER=mysql
DATABASE_HOST=db

MAIL_NOTIFY_ADDRESS=notify@mail.remoodle.app
RESEND_API_KEY=re_123

MOODLE_WEBSERVICE_URL=https://moodle.astanait.edu.kz/webservice/rest/server.php