version: "3"
rpc:
    enable: true
    listen: "tcp://127.0.0.1:6001"
server:
    command: "php app.php"
    relay: pipes
http:
    address: "0.0.0.0:8080"
    middleware:
        - gzip
        - static
    pool:
        num_workers: 1
        supervisor:
            max_worker_memory: 100
jobs:
    num_pollers: 4
    timeout: 60
    pool:
        num_workers: 4
        max_worker_memory: 100
        command: "php dispatcher/dispatcher.php"
    pipelines:
        user_registered:
            driver: memory
            config:
                priority: 10
                prefetch: 100
        user_parse_grades:
            driver: memory
            config:
                priority: 10
                prefetch: 100
    consume: ["user_registered", "user_parse_grades"]