parameters:
    level: 5
    paths:
        - src
        - queue        
        - bootstrap
        - dispatcher
        - service
    ignoreErrors:
        - '#Call to an undefined method Illuminate\\Database\\Query\\Builder::with\(\)#'
        - '#Unsafe usage of new static\(\)#'
        - '#Access to an undefined property App\\Models\\[a-zA-Z0-9::a-zA-Z]#'
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Builder|Illuminate\\Database\\Eloquent\\Model::toEntity\(\)#'